body {
    font-family: 'Roboto Mono', regular;
}

p {
    font-family: 'Lato', regular;
}

li {
    font-family: 'Lato', regular;
}

a {
    font-family: 'Lato', regular;
}

time {
    font-family: 'Lato', regular;
}

span {
    font-family: 'Lato', regular;
}

section {
    font-family: 'Lato', regular;
}